<body class="produ" bgcolor="#2E5C81">
  <app-side-nav></app-side-nav>
  <div class="row black">
    <form class="col s20">
      <div class="row">
        <div class="input-field col s15">
          <input id="icon_prefix2" type="text" class="validate">
          <label for="icon_prefix2">Product</label>
          <i class="material-icons prefix">search</i>
        </div>
      </div>
    </form>
  </div>

  <div class="row s8 m7">
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
      <div class="card-image">
        <img class="circle" src="../../../assets/die.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <blockquote>
            <h1>Nombre del producto</h1>
          </blockquote>
          <a href="#">Link de compra del producto</a>
        </div>
      </div>
    </div>
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
      <div class="card-image">
        <img class="circle" src="../../../assets/die.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <blockquote>
            <h1>Nombre del producto</h1>
          </blockquote>
          <a href="#">Link de compra del producto</a>
        </div>
      </div>
    </div>
  </div>

</body>