<body class="produ" bgcolor="#2E5C81">
  <div class="row black">
    <form class="col s20">
      <div class="row">
        <div class="input-field col s2">
          <app-side-nav></app-side-nav>
        </div>
      </div>
    </form>
  </div>

  <div class="row s8 m7">
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
      <div class="card-image">
        <img class="circle" src="../../../assets/dados.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <blockquote>
            <h1>BALDUR'S GATE: DESCENT INTO AVERNUS: DICE & MISCELLANY</h1>
          </blockquote>
          <a href="https://dnd.wizards.com/products/tabletop-games/rpg-products/descent_dice">Buy now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row s8 m7">
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
      <div class="card-image">
        <img class="circle" src="../../../assets/guide tho everuthuing.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <blockquote>
            <h1>XANATHAR'S GUIDE TO EVERYTHING</h1>
          </blockquote>
          <a href="https://dnd.wizards.com/products/tabletop-games/rpg-products/xanathars-guide-everything">Buy now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row s8 m7">
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
      <div class="card-image">
        <img class="circle" src="../../../assets/master guide.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <blockquote>
            <h1>DUNGEON MASTER'S GUIDE: A DUNGEONS & DRAGONS CORE RULEBOOK</h1>
          </blockquote>
          <a href="https://dnd.wizards.com/products/tabletop-games/rpg-products/dungeon-masters-guide">Buy now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row s8 m7">
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
      <div class="card-image">
        <img class="circle" src="../../../assets/monster manual.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <blockquote>
            <h1>MONSTER MANUAL: A DUNGEONS & DRAGONS CORE RULEBOOK</h1>
          </blockquote>
          <a href="https://dnd.wizards.com/products/tabletop-games/rpg-products/monster-manual">Buy now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row s8 m7">
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
      <div class="card-image">
        <img class="circle" src="../../../assets/players handbook.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <blockquote>
            <h1>PLAYER'S HANDBOOK: A DUNGEONS & DRAGONS CORE RULEBOOK</h1>
          </blockquote>
          <a href="https://dnd.wizards.com/products/tabletop-games/rpg-products/rpg_playershandbook">Buy now</a>
        </div>
      </div>
    </div>
  </div>

</body>