<body bgcolor="#2E5C81">
    <div class="row black ">
        <form class="col s20">
            <div class="row">
                <div class="input-field col s15">
                    <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                    <label for="icon_prefix2">Name</label>
                    <i class="material-icons prefix">search</i>
                </div>
            </div>
        </form>
    </div>
 
 <div class="row s8 m7">
    <div id="party" class="card horizontal col s8 centered teal transparent z-depth-5">
      <div class="card-image">
        <img class="circle responsive-img" src="../../../assets/mago.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <blockquote> <h1>Nombre del grupo</h1></blockquote>
          <a href="#">Ponte en contacto</a>
        </div>
      </div>
    </div>
  </div>            

</body>