<div class="container section">
    <a href="#" class="sidenav-trigger " data-target="menu-side">
        <i class="material-icons">menu</i>
    </a>
    <ul class="sidenav black" id="menu-side">
        <li>
            <div class="centered">
                <a href="">
                    <img class="logo" src="../../../assets/logo.png">
                </a>                
            </div>
            <div class="user-view">
                <a href="searchp" >Search Party</a>
            </div>
            <div class="user-view">
                <a href="createp">Create Party</a>
            </div>
            <div class="user-view">
                <a href="products">Official Wizard of the Coast Products</a>
            </div>
        </li>
    </ul>
</div>