<div class="party row s8 m7">
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
        <div class="card-image">
            <img class="circle responsive-img" id="img" src="../../../assets/pIcon.png">
        </div>
        <div class="card-stacked ">
            <div class="card-content">
                <blockquote>
                    <h1>{{data.title}}</h1>
                </blockquote>
                <h1>{{data.game}} | {{data.language}}</h1>
                <h4>{{data.title}}</h4>
                <p>{{data.info}}</p>
            </div>
            
        </div>
    </div>