<div class="party row s8 m7">
    <div class="card horizontal col s8 centered teal transparent z-depth-5">
        <div class="card-image">
            <img class="circle responsive-img" src="../../../assets/mago.png">
        </div>
        <div class="card-stacked ">
            <div class="card-content">
                <blockquote>
                    <h1>{{data.title}}</h1>
                </blockquote>
                <h1>{{data.game}} | {{data.language}}</h1>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn modal-trigger red" href="#modal1">Contact</a>

                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>{{data.title}}</h4>
                        <p>{{data.info}}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="searchp" class="btn modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
            </div>
        </div>
    </div>