<div class="party row s8 m7">
    <div class="card horizontal col l4 centered teal transparent z-depth-5">
        <div class="card-image">
            <img class="circle responsive-img" id="img" src="../../../assets/pIcon.png">
        </div>
        <div class="card-stacked ">
            <div class="card-content">
                <blockquote>
                    <h1 class= "card-title">{{data.title}}</h1>
                </blockquote>
                <h1>{{data.game}} | {{data.language}}</h1>
                <p class="parr">{{data.info}} </p>
            </div>
            
        </div>
    </div>