<body class="bgimg iris">
    <app-side-nav></app-side-nav>
    <h1>Schedule Game Sessions And Meet New Players</h1>
    <div class="col s10">
        <form class="row s10">
            <div class="col offset-s5">
                <div class="input-field col s4">
                    <div class="input-field col s12">
                        <select>
                          <option value="" disabled selected>Language</option>
                          <option value="1">ES</option>
                          <option value="2">EN</option>
                        </select>
                      </div>
                </div>
                <div class="input-field col s4 offset-s1">
                    <input id="icon_prefix2" type="text" class="validate">
                    <label for="icon_prefix2">Game</label>
                    <i class="material-icons prefix">search</i>
                </div>
            </div>
        </form>
    </div>
</body>