<body class="bgimg iris">
    <app-side-nav></app-side-nav>
    <h1 class= "card-title center align">Schedule Game Sessions And Meet New Players</h1>
    <div class="col s10">
        <form class="row s10" #searchForm="ngForm" (ngSubmit)="searchbox(searchForm)">
            <div class="col offset-s5">
                <div class="input-field col s8 ">
                    <input id="icon_prefix2" type="text" class="validate" name="sGame" [(ngModel)]="sGame">
                    <label for="icon_prefix2">Game</label>
                    <button type="submit" class="button" ><i class="material-icons prefix right align">search</i></button>
                </div>
            </div>
        </form>
    </div>
</body>