h1{
    text-align: center;
}
.input-field{
    align-content: center;
}

.bgimg {
    display:block;
    margin: 0;
    padding: 0;
    margin: -10px;
  }

  .iris {
    background-image: url('../../../assets/original-1.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}