<body class="bg" bgcolor="#2E5C81">
    <div class="row black">
        <form class="col s20" #searchForm="ngForm" (ngSubmit)="searchbox(searchForm)">
            <div class="row offset-s1">
                <div class="col s2">
                    <app-side-nav></app-side-nav>
                </div>
            </div>
        </form>
    </div>
  

    <app-party *ngFor="let party of partyService.partys" [data]="party"></app-party>
    <app-party *ngFor="let party of partyService.getPartys()" [data]="party"></app-party>

    <div class="party row s8 m7">
    <div class="card horizontal col l4 centered teal transparent z-depth-5">
        <div class="card-image">
            <img class="circle responsive-img" id="img" src="../../../assets/pIcon.png">
        </div>
    <div class="card-stacked">
        <div class="card-content">
            <blockquote>
                <h1 class= "card-title">Help me</h1>
            </blockquote>
            <h1>DND | EN</h1>
            <p class="parr">I don't have any friends pls add me on discord ##### </p>
        </div>
        </div>
    </div>
</div>

<div class="party row s8 m7">
<div class="card horizontal col l4 centered teal transparent z-depth-5">
        <div class="card-image">
            <img class="circle responsive-img" id="img" src="../../../assets/pIcon.png">
        </div>
    <div class="card-stacked ">
        <div class="card-content">
            <blockquote>
                <h1 class= "card-title">Banda por favor ayudenme</h1>
            </blockquote>
            <h1>DND | ES</h1>
            <p class="parr">Mi hermano se murio y ya no tengo con quien jugar, les dejo mi cel </p>
        </div>
        </div>
    </div>
    </div>

    <div class="party row s8 m7">
    <div class="card horizontal col l4 centered teal transparent z-depth-5">
        <div class="card-image">
            <img class="circle responsive-img" id="img" src="../../../assets/pIcon.png">
        </div>
    <div class="card-stacked ">
        <div class="card-content">
            <blockquote>
                <h1 class= "card-title">Necesito amigos para jugar</h1>
            </blockquote>
            <h1>Monopoly | ES</h1>
            <p class="parr">Me hacen bullying en la escuela y quisiera jugar monopoly </p>
        </div>
        </div>
    </div>
    </div>

    <div class="party row s8 m7">
    <div class="card horizontal col l4 centered teal transparent z-depth-5">
        <div class="card-image">
            <img class="circle responsive-img" id="img" src="../../../assets/pIcon.png">
        </div>
    <div class="card-stacked ">
        <div class="card-content">
            <blockquote>
                <h1 class= "card-title">Antes de morir...</h1>
            </blockquote>
            <h1>La vida | ES</h1>
            <p class="parr">Pienso terminarlo todo y antes de eso quiesiera que alguien este conmigo </p>
        </div>
        </div>
    </div>
    </div>

    <div class="party row s8 m7">
    <div class="card horizontal col l4 centered teal transparent z-depth-5">
        <div class="card-image">
            <img class="circle responsive-img" id="img" src="../../../assets/pIcon.png">
        </div>
    <div class="card-stacked ">
        <div class="card-content">
            <blockquote>
                <h1 class= "card-title">Looking for bard</h1>
            </blockquote>
            <h1>DND | EN</h1>
            <p class="parr">We're missing one player, if you're a bard join this server... </p>
        </div>
        </div>
    </div>
    </div>

</body>