<body class=" brown darken-2">
    <div class="row black "> 
        <form class="col s20">
          <div class="row">
            <div class="input-field col s4">
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Name</label>
              <i class="material-icons prefix">search</i>
            </div>
            <div class="input-field col s4">
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Language</label>
                <i class="material-icons prefix">search</i>
            </div>
            <div class="input-field col s4">
              <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
              <label for="icon_prefix2">Game</label>
              <i class="material-icons prefix">search</i>
            </div>
          </div>
        </form>
    </div>
    <div class="input-field row s12">
      <div class="col s1">
        <select>
            <option value="" disabled selected>Name</option>
            <option value="1">A-Z</option>
            <option value="2">z-A</option>
        </select>
        </div>
        <div class="col s1">
        <select>
            <option value="" disabled selected>Language</option>
            <option value="1">EN</option>
            <option value="2">ES</option>
        </select>
        </div>
      </div>
    
</body>
